AddDefaultCharset UTF-8

RewriteEngine on
RewriteRule ^resources/views/account/edit/edit/([0-9]+)?$ /resources/views/account/edit/edit?id=$1 [L]
RewriteRule ^resources/views/account/create-test/views_test/test/([0-9]+)?$ /resources/views/account/create-test/views_test/test?id=$1 [L]
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

RewriteCond  %{DOCUMENT_ROOT}/resources/views/signin/$1 -f
RewriteRule ^(.*)$ resources/views/signin/$1 [L,QSA]

RewriteCond  %{DOCUMENT_ROOT}/resources/views/account/$1 -f
RewriteRule ^(.*)$ resources/views/account/$1 [L,QSA]

RewriteCond  %{DOCUMENT_ROOT}/resources/views/account/create-test/$1 -f
RewriteRule ^(.*)$ resources/views/account/create-test/$1 [L,QSA]

RewriteCond  %{DOCUMENT_ROOT}/resources/views/account/create-test/views_test/$1 -f
RewriteRule ^(.*)$ resources/views/account/create-test/views_test/$1 [L,QSA]
